/* GENERAL ELEMENT STYLES */

body {
  font-family: 'Ubuntu', sans-serif;
}

hr {
  display: block;
  width: 100%;
  margin: 0 auto 0.5rem auto;
  border-width: 0.25rem;
  border-color: white;
}

/* ID SPECIFIC STYLES */


#caJumboContentCali {
  display: flex;
  background-image: url("../images/california/ca_jumbo.jpg");
  background-size: 100% 100%;
  min-width: 100%;
  height: 50%;
  justify-content: center;
}

#caJumboContentUtah {
  display: flex;
  background-image: url("../images/utah/ut_jumbo.jpg");
  background-size: 100% 100%;
  min-width: 100%;
  height: 50%;
  justify-content: center;
}

#caJumboContentColo {
  display: flex;
  background-image: url("../images/colorado/co_jumbo.jpg");
  background-size: 100% 100%;
  min-width: 100%;
  height: 50%;
  justify-content: center;
}

#cardContainer {
  display: flex;
  width: 90%;
  border: 0.25rem solid #eae9ec;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

/* CLASS SPECIFIC STYLES */

.navbar {
  height: 4rem;
}

.navbar-brand > img {
  height: 4.2rem;
  padding: 1rem 1rem 1rem 2rem;
}

.navbar-light > a:active {
  color: white;
}

.jumbotron {
  background: none;
}

.jumbotron > h1 {
  font-weight: bold;
  color: white;
  background-color: rgba(30, 95, 146, 0.25);
  height: 3rem;
}

.card-deck {
  margin-top: 0.5rem;
}

.card {
  display: flex;
  background-color: #d2d2d2;
  justify-content: center;
}

.card-body {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-flow: row wrap;
}

.card-body > h6, .card-body > .card-text {
  margin: 0.5rem;
}

.card-img-top {
  width: 100%;
}

.card-img-bottom {
  width: 100%;
}
